.cars-form {
    margin: 40px 0px;
    padding: 16px;
    border: 2px solid #3f3e43;
    border-radius: 8px;
    width: 100%;

    &__select {
        display: flex;
        margin-bottom: 10px;

        select {
            width: 100%;
        }

    }

    .select-title {
        @media (max-width: 576px) {
            font-size: 16px;
            margin-right: 0px;
            min-width: inherit;
        }
        margin-right: 20px;
        min-width: 200px;
        font-size: 24px;
    }

    .model-info-title {
        font-size: 24px; 
    }
}
.engine-type {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
    
}
.filter-description {
    display: flex;
    flex-direction: column;
    border: 2px solid #3f3e43;
    padding: 16px;
    width: 30%;
    @media (max-width: 992px) {
        margin-top: 20px;  
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #3f3e43;
    }
    &__info {
        padding: 10px 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;

    }
}
.filter-info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: 992px) {
        flex-direction: column;  
    }
}

.search-info {
    margin-top: 40px;
    width: 100%;
    margin-bottom: 40px;
    table {
        width: 100%;
        border: 2px solid #3f3e43;
        border-collapse: collapse;
        border-radius: 8px;

    }

    th {
        padding: 12px;
        border: 1px solid grey;
    }
    td {
        padding: 12px; 
    }
    tr {
        padding: 12px;
        border: 1px solid grey;
    }
}
.analog-input {
    width: 90%;
}